{% extends 'layout.twig' %}
{% block title %}Add Tag{% endblock %}

{% block content %}
	<section class="createTag">
		<form action="" method="post">
			<label for="tag">New tag : </label>
			<input type="text" name="tag" />
			<input type="submit" value="send">
		</form>
	</section>
{% endblock %}