{% extends 'layout.twig' %}
{% block title %}Add Artcile{% endblock %}

{% block content %}
	<form action="" method="post">
		<label for="title">title : </label>
		<input type="text" name="title" />
		<label for="article">article : </label>
		<textarea name="article"></textarea>
		<select name="tags[]" multiple>
			{% for key, tag in tags %}
				<option value="{{ key }}">{{ tag.name }}</option>
			{% endfor %}
		</select>
		<input type="submit" value="send">
	</form>
{% endblock %}