{% extends 'layout.twig' %}
{% block title %}Add Artcile{% endblock %}

{% block content %}
	<article>
		<h1>{{ article.title }}</h1>
		<p>
			{{ article.body }}
		</p>
		{% if tags is not empty %}
			<p>
				tags :
				{% for tag in tags %}
					<a class="tag" href="{{ app.url_generator.generate('tagSearch', {tagId: tag.id}) }}">{{ tag.name }}</a>
				{% endfor %}
			</p>
		{% endif %}
	</article>
{% endblock %}