{% extends 'layout.twig' %}

{% block content %}
	<h1>Index</h1>
	<section>
		{% for article in articles %}
			<article>
				<h2>{{ article.title }}</h2>
				<p>
					{{ article.body }}
				</p>
				{% for key, tag in article.tags %}
					{% if key is defined %}
						<a href="{{ app.url_generator.generate('tagSearch', key) }}"></a>
					{% endif %}
				{% endfor %}
			</article>
		{% endfor %}
	</section>
{% endblock %}