{% extends 'layout.twig' %}
{% block title %}Search by Tag{% endblock %}

{% block content %}
	{% if tagSearch[0] is defined %}
		<h1>results for tag "{{ tagSearch[0]['name'] }}"</h1>
		<section id='tag-search'>
			{% for article in tagSearch %}
				<article>
					<h2>{{ article.title }}</h2>
					<p>{{ article.body }}</p>
				</article>
			{% endfor %}
		</section>
	{% else %}
		<section>
			<p>No article has this tag</p>
		</section>
	{% endif %}
{% endblock %}